*{
    margin:0;
    padding:0;
    font-family: cursive;
    text-align: center;
}
.container{
    margin-left: 390px;
    margin-top: 10px;
    align-content: center;
    width:50%;
    background:rgb(12, 185, 156) ;
    /* linear-gradient(135deg,#00feba,#5b548a); */
    border-radius: 20px;
    padding: 20px;
}

.search{
    width:100%;
    margin: 20px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}
#search{
    border-radius: 30px;
    border: 0;
    outline:0;
    width: 400px;
    height: 50px;
    font-size: medium;
    padding: 6px;
    font-size: 18px;
    margin-right: 16px;
}
button{
    width: 70px;
    height: 60px;
    border: none;
    border-radius: 50px;
    outline:0;
}
#searchicon{
    font-size: 20px;
}

#icon{
    font-size: 100px;
}
.particulars{
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}
 .humidity{
    display: flex;
    flex-direction: row;
}
.hicon{
    display: flex;
    flex-direction: column;
}